			<div class="bottommenu">
				<div class="float_right">{$lang_select}</div>
				<div>
					<span class="smalltext"><a href="{$mybb->settings['contactlink']}">{$lang->bottomlinks_contactus}</a> | <a href="{$mybb->settings['homeurl']}">{$mybb->settings['homename']}</a> | <a href="#container">{$lang->bottomlinks_returntop}</a> | <a href="#content">{$lang->bottomlinks_returncontent}</a> | <a href="<archive_url>">{$lang->bottomlinks_litemode}</a> | <a href="{$mybb->settings['bburl']}/misc.php?action=syndication">{$lang->bottomlinks_syndication}</a></span>
				</div>
			</div>
			<span class="clearFix"></span>
		</div>
		<div id="copyright">
			<div id="debug"><debugstuff></div>
			<!-- MyBB is free software developed and maintained by a volunteer community. 
				 It would be much appreciated by the MyBB Group if you left the full copyright and "powered by" notice intact, 
				 to show your support for MyBB.  If you choose to remove or modify the copyright below, 
				 you may be refused support on the MyBB Community Forums.
				 
				 This is free software, support us and we'll support you. -->
{$lang->powered_by} <a href="http://mybb.com/" target="_blank">MyBB{$mybbversion}</a>, &copy; 2002-{$copy_year} <a href="http://mybb.com/" target="_blank">MyBB Group</a>.<br />
			<!-- End powered by -->
<!-- The following piece of code allows MyBB to run scheduled tasks. DO NOT REMOVE -->{$task_image}<!-- End task image code -->
{$auto_dst_detection}
			<span class="clearFix"></span>
		</div>
	</div>
	<div id="topBar" class="dropShadow">
		<div class="containerWidth">
			<ul id="globalNav">
				<li class="first"><a href="http://www.xbmc.org/">Blog</a></li>
				<li><a href="http://www.xbmc.org/download/">Download</a></li>
				<li><a href="http://wiki.xbmc.org/">Wiki</a></li>
				<li class="last"><a href="http://trac.xbmc.org/">Bugtracker</a></li>
			</ul>
			<ul id="boardMenu">
				<li class="first"><a href="{$mybb->settings['bburl']}/search.php"><img src="{$theme['imgdir']}/toplinks/search.gif" alt="" title="" />{$lang->toplinks_search}</a></li>
				<li><a href="{$mybb->settings['bburl']}/memberlist.php"><img src="{$theme['imgdir']}/toplinks/memberlist.gif" alt="" title="" />{$lang->toplinks_memberlist}</a></li>
				<li><a href="{$mybb->settings['bburl']}/misc.php?action=help"><img src="{$theme['imgdir']}/toplinks/help.gif" alt="" title="" />{$lang->toplinks_help}</a></li>
				###HEADERLINKS###
			</ul>
		</div>
	</div>
	<script type="text/javascript">$(document.getElementsByTagName('html')[0]).removeClassName('no-js');</script>