<script type="text/javascript" src="jscripts/inline_moderation.js?ver=1600"></script>
		<form action="moderation.php" method="post">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="fid" value="{$fid}" />
<input type="hidden" name="modtype" value="inlinethread" />
<label for="threadAction{$fid}">{$lang->inline_thread_moderation}</label>
<select name="action" id="threadAction{$fid}">
	<option value="delayedmoderation">{$lang->delayed_moderation}</option>
	<optgroup label="{$lang->standard_mod_tools}">
		<option value="multiclosethreads" selected="selected">{$lang->close_threads}</option>
		<option value="multiopenthreads">{$lang->open_threads}</option>
		<option value="multistickthreads">{$lang->stick_threads}</option>
		<option value="multiunstickthreads">{$lang->unstick_threads}</option>
		<option value="multideletethreads">{$lang->delete_threads}</option>
		<option value="multimovethreads">{$lang->move_threads}</option>
		<option value="multiapprovethreads">{$lang->approve_threads}</option>
		<option value="multiunapprovethreads">{$lang->unapprove_threads}</option>
	</optgroup>
	{$customthreadtools}
</select>
<input type="submit" class="button" name="go" value="{$lang->inline_go} ({$inlinecount})" id="inline_go" />&nbsp;
<input type="button" onclick="javascript:inlineModeration.clearChecked();" value="{$lang->clear}" class="button" />
</form>
<script type="text/javascript">
<!--
	var go_text = "{$lang->inline_go}";
	var all_text = "{$threadcount}";
	var inlineType = "forum";
	var inlineId = {$fid};
// -->
</script>