<div id="sectionHeader">
	<h1>{$foruminfo['name']}</h1>
	{$multipage}
	<div class="functionBar">{$newthread}</div>
</div>
<table class="forums tborder">
	<caption>
			<small style="float:right"><a href="misc.php?action=markread&amp;fid={$fid}{$post_code_string}">{$lang->markforum_read}</a> | <a href="usercp2.php?action={$add_remove_subscription}subscription&amp;type=forum&amp;fid={$fid}&amp;my_post_key={$mybb->post_code}">{$add_remove_subscription_text}</a>{$clearstoredpass}</small>
			<strong>Threads</strong>
	</caption>
	<thead>
		<tr>
			<th colspan="3"><a href="{$sorturl}&amp;sortby=subject&amp;order=asc">{$lang->thread}</a> {$orderarrow['subject']} / <a href="{$sorturl}&amp;sortby=starter&amp;order=asc">{$lang->author}</a> {$orderarrow['starter']}</th>
			<th class="col-ratings"><a href="{$sorturl}&amp;sortby=replies&amp;order=desc">{$lang->replies}</a> {$orderarrow['replies']}</th>
			<th class="col-views"><a href="{$sorturl}&amp;sortby=views&amp;order=desc">{$lang->views}</a> {$orderarrow['views']}</th>
			{$ratingcol}
			<th class="col-lastpost"><a href="{$sorturl}&amp;sortby=lastpost&amp;order=desc">{$lang->lastpost}</a> {$orderarrow['lastpost']}</th>
			{$inlinemodcol}
		</tr>
	</thead>
	<tbody>
		{$selectall}
		{$announcementlist}
		{$threads}
	</tbody>
	<tfoot>
		<tr>
			<td style="text-align:right" colspan="{$colspan}">
				<form action="forumdisplay.php" method="get">
					<input type="hidden" name="selectall" value="{$allselected}" />
					<input type="hidden" name="fid" value="{$fid}" />
					<select name="sortby">
						<option value="subject" {$sortsel['subject']}>{$lang->sort_by_subject}</option>
						<option value="lastpost" {$sortsel['lastpost']}>{$lang->sort_by_lastpost}</option>
						<option value="starter" {$sortsel['starter']}>{$lang->sort_by_starter}</option>
						<option value="started" {$sortsel['started']}>{$lang->sort_by_started}</option>
						{$ratingsort}
						<option value="replies" {$sortsel['replies']}>{$lang->sort_by_replies}</option>
						<option value="views" {$sortsel['views']}>{$lang->sort_by_views}</option>
					</select>
					<select name="order">
						<option value="asc" {$ordersel['asc']}>{$lang->sort_order_asc}</option>
						<option value="desc" {$ordersel['desc']}>{$lang->sort_order_desc}</option>
					</select>
					<select name="datecut">
						<option value="1" {$datecutsel['1']}>{$lang->datelimit_1day}</option>
						<option value="5" {$datecutsel['5']}>{$lang->datelimit_5days}</option>
						<option value="10" {$datecutsel['10']}>{$lang->datelimit_10days}</option>
						<option value="20" {$datecutsel['20']}>{$lang->datelimit_20days}</option>
						<option value="50" {$datecutsel['50']}>{$lang->datelimit_50days}</option>
						<option value="75" {$datecutsel['75']}>{$lang->datelimit_75days}</option>
						<option value="100" {$datecutsel['100']}>{$lang->datelimit_100days}</option>
						<option value="365" {$datecutsel['365']}>{$lang->datelimit_lastyear}</option>
						<option value="9999" {$datecutsel['9999']}>{$lang->datelimit_beginning}</option>
					</select>
					{$gobutton}
				</form>
			</td>
		</tr>
	</tfoot>
</table>
<div class="functionBar">
	{$multipage}
	{$newthread}
</div>
<div class="legendBox">
	<dl class="legend">
		<dt><img src="{$theme['imgdir']}/newfolder.gif" alt="{$lang->new_thread}" title="{$lang->new_thread}" /></dt><dd>{$lang->new_thread}</dd>
		<dt><img src="{$theme['imgdir']}/newhotfolder.gif" alt="{$lang->new_hot_thread}" title="{$lang->new_hot_thread}" /></dt><dd>{$lang->new_hot_thread}</dd>
		<dt><img src="{$theme['imgdir']}/hotfolder.gif" alt="{$lang->hot_thread}" title="{$lang->hot_thread}" /></dt><dd>{$lang->hot_thread}</dd>
	</dl>
	<dl class="legend">
		<dt><img src="{$theme['imgdir']}/folder.gif" alt="{$lang->no_new_thread}" title="{$lang->no_new_thread}" /></dt><dd>{$lang->no_new_thread}</dd>
		<dt><img src="{$theme['imgdir']}/dot_folder.gif" alt="{$lang->posts_by_you}" title="{$lang->posts_by_you}" /></dt><dd>{$lang->posts_by_you}</dd>
		<dt><img src="{$theme['imgdir']}/lockfolder.gif" alt="{$lang->locked_thread}" title="{$lang->locked_thread}" /></dt><dd>{$lang->locked_thread}</dd>
	</dl>
</div>
<div class="moderatorFunctions">
	{$inlinemod}
	{$searchforum}
	{$forumjump}
</div>
{$inline_edit_js}