<tr class="{$bgcolor}">
<td class="col-icon"><img src="{$theme['imgdir']}/{$lightbulb['folder']}.gif" alt="{$lightbulb['altonoff']}" title="{$lightbulb['altonoff']}" class="ajax_mark_read" id="mark_read_{$forum['fid']}" /></td>
<td class="col-subject">
<strong><a href="{$forum_url}">{$forum['name']}</a></strong>{$forum_viewers_text}<div class="smalltext">{$forum['description']}{$modlist}{$subforums}</div>
</td>
<td class="col-threads">{$threads}{$unapproved['unapproved_threads']}</td>
<td class="col-posts">{$posts}{$unapproved['unapproved_posts']}</td>
<td class="col-lastpost">{$lastpost}</td>
</tr>