	<th class="col-ratings">
		<a href="{$sorturl}&amp;sortby=rating&amp;order=desc">{$lang->rating}</a> {$orderarrow['rating']}
		<script type="text/javascript" src="jscripts/rating.js?ver=1400"></script>
		<script type="text/javascript">
		<!--
			lang.stars = new Array();
			lang.stars[1] = "{$lang->one_star}";
			lang.stars[2] = "{$lang->two_stars}";
			lang.stars[3] = "{$lang->three_stars}";
			lang.stars[4] = "{$lang->four_stars}";
			lang.stars[5] = "{$lang->five_stars}";
		// -->
		</script>
	</th>
