<li><a href="{$mybb->settings['bburl']}/private.php" title="{$lang->welcome_pms} {$lang->welcome_pms_usage}" class="link-pm pm-status-{$mybb->xbmc['user']['pmStatus']}"><img src="{$theme['imgdir']}/new_pm.gif" alt="" title="Messages" /> {$mybb->user['pms_unread']}/{$mybb->user['pms_total']}</a></li>
<li class="last"><a href="{$mybb->settings['bburl']}/usercp.php" class="link-profile" title="My Control Panel">{$mybb->user['username']}</a>
	<ul class="dropShadow">
		<li><a href="{$mybb->settings['bburl']}/private.php">Messages</a></li>
		<li><a href="#" onclick="MyBB.popupWindow('{$mybb->settings['bburl']}/misc.php?action=buddypopup', 'buddyList', 350, 350);">Buddy List</a></li>
		<li><a href="{$mybb->settings['bburl']}/usercp.php?action=subscriptions">Subscribed Threads</a></li>
		<li><a href="{$mybb->settings['bburl']}/usercp.php?action=forumsubscriptions">Subscribed Forums</a></li>
		<li><a href="{$mybb->settings['bburl']}/usercp.php">Control Panel</a></li>
		{$modcplink}{$admincplink}
		<li class="last"><a href="{$mybb->settings['bburl']}/member.php?action=logout&amp;logoutkey={$mybb->user['logoutkey']}" class="link-logout">{$lang->welcome_logout}</a></li>
	</ul>
</li>