<br />
<fieldset class="trow2">
<script type="text/javascript" src="jscripts/captcha.js?ver=1400"></script>
<legend><strong>{$lang->image_verification}</strong></legend>
<table cellspacing="0" cellpadding="{$theme['tablespace']}">
<tr>
<td><span class="smalltext">{$lang->verification_note}</span></td>
<td rowspan="2" align="center"><img src="captcha.php?action=regimage&amp;imagehash={$imagehash}" alt="{$lang->image_verification}" title="{$lang->image_verification}" id="captcha_img" /><br /><span style="color: red;" class="smalltext">{$lang->verification_subnote}</span>
<script type="text/javascript">
<!--
	if(use_xmlhttprequest == "1")
	{
		document.write('<br \/><br \/><input type="button" class="button" tabindex="10000" name="refresh" value="{$lang->refresh}" onclick="return captcha.refresh();" \/>');
	}
// -->
</script>
</td>
</tr>
<tr>
<td><input type="text" class="textbox" name="imagestring" value="" id="imagestring" style="width: 100%;" /><input type="hidden" name="imagehash" value="{$imagehash}" id="imagehash" /></td>
</tr>
<tr>
	<td id="imagestring_status"  style="display: none;" colspan="2">&nbsp;</td>
</tr>
</table>
</fieldset>