<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->agreement}</title>
{$headerinclude}
</head>
<body>
{$header}
<br />
<form action="member.php" method="post">
<table class="tborder">
<tr>
<td class="thead"><strong>{$mybb->settings['bbname']} - {$lang->agreement}</strong></td>
</tr>
{$coppa_agreement}
<tr>
<td class="trow1">
<p>{$lang->agreement_1}</p>
<p>{$lang->agreement_2}</p>
<p>{$lang->agreement_3}</p>
<p>{$lang->agreement_4}</p>
<p><strong>{$lang->agreement_5}</strong></p>
</td>
</tr>
</table>

<br />
<div align="center">
<input type="hidden" name="step" value="agreement" />
<input type="hidden" name="action" value="register" />
<input type="submit" class="button" name="agree" value="{$lang->i_agree}" />
</div>
</form>
{$footer}
</body>
</html>