<a href="editpost.php?pid={$post['pid']}" id="edit_post_{$post['pid']}" class="button button-small link-edit" title="{$lang->postbit_edit_title}"><span class="icon"></span>{$lang->postbit_edit}</a>
<div id="edit_post_{$post['pid']}_popup" class="popup_menu" style="display: none;"><div class="popup_item_container"><a href="javascript:;" onclick="Thread.quickEdit({$post['pid']});" class="popup_item">{$lang->postbit_quick_edit}</a></div><div class="popup_item_container"><a href="editpost.php?pid={$post['pid']}" class="popup_item">{$lang->postbit_full_edit}</a></div></div>
<script type="text/javascript">
// <!--
	if(use_xmlhttprequest == "1")
	{
		new PopupMenu("edit_post_{$post['pid']}");
	}
// -->
</script>