<html>
<head>
<title>{$lang->compose_pm}</title>
{$headerinclude}
<script type="text/javascript" src="jscripts/usercp.js?ver=1600"></script>
</head>
<body>
{$header}
<form action="private.php" method="post" name="input">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<table width="100%" border="0" align="center">
<tr>
{$usercpnav}
<td valign="top">
{$preview}
{$send_errors}
<table class="tborder">
<tr>
<td class="thead" colspan="2"><strong>{$lang->compose_pm}</strong></td>
</tr>
<tr>
<td class="trow1" valign="top" width="200"><strong>{$lang->compose_to}</strong>
	<script type="text/javascript">
	<!--
		document.write('(<a href="#" onclick="showBcc(); return false;" title="{$lang->compose_bcc_show_title}">{$lang->compose_bcc_show}<\/a>)');
	// -->
	</script>
	<br /><span class="smalltext">{$lang->separate_names}{$buddy_select_to}</span></td>
<td class="trow1" valign="top"><textarea name="to" id="to" rows="2" cols="38" tabindex="1">{$to}</textarea>{$max_recipients}</td>
</tr>
<tr id="bcc_area">
<td class="trow2" valign="top"><strong>{$lang->compose_bcc}</strong>{$buddy_select_bcc}</td>
<td class="trow2"><textarea name="bcc" id="bcc" rows="2" cols="38" tabindex="1">{$bcc}</textarea></td>
</tr>
<tr>
<td class="trow1"><strong>{$lang->compose_subject}</strong></td>
<td class="trow1"><input type="text" class="textbox" name="subject" size="40" maxlength="85" value="{$subject}" tabindex="3" /></td>
</tr>
{$posticons}
<tr>
<td class="trow2" valign="top"><strong>{$lang->compose_message}</strong>{$smilieinserter}</td>
<td class="trow2">
<textarea name="message" id="message" rows="20" cols="70" tabindex="4">{$message}</textarea>
{$codebuttons}
</td>
</tr>
<tr>
<td class="trow1" valign="top"><strong>{$lang->compose_options}</strong></td>
<td class="trow1"><span class="smalltext">
<label><input type="checkbox" class="checkbox" name="options[signature]" value="1" tabindex="5" {$optionschecked['signature']} />{$lang->options_sig}</label><br />
<label><input type="checkbox" class="checkbox" name="options[disablesmilies]" value="1" tabindex="6" {$optionschecked['disablesmilies']} />{$lang->options_disable_smilies}</label><br />
<label><input type="checkbox" class="checkbox" name="options[savecopy]" value="1" tabindex="7" {$optionschecked['savecopy']} />{$lang->options_save_copy}</label><br />
<!--input type="hidden" name="options[readreceipt]" value="{$options['readreceipt']}" /-->
</span></td>
</tr>
</table>
<br />
<input type="hidden" name="action" value="do_send" />
<input type="hidden" name="pmid" value="{$pmid}" />
<input type="hidden" name="do" value="{$do}" />
<div style="text-align: center;">
<input type="submit" class="button" name="submit" value="{$lang->send_message}" tabindex="9" accesskey="s" />
<input type="submit" class="button" name="saveasdraft" value="{$lang->save_draft}" tabindex="10" />
<input type="submit" class="button" name="preview" value="{$lang->preview}" tabindex="11" />
</div>
</td>
</tr>
</table>
</form>
{$footer}
<script type="text/javascript">
<!--
	if($('bcc_area') && $('bcc').value == "")
	{
		$('bcc_area').style.display = 'none';
	}

	function showBcc()
	{
		if($('bcc_area').style.display == 'none')
		{
			$('bcc_area').style.display = '';
		}
		else
		{
			$('bcc_area').style.display = 'none';
		}
	}
// -->
</script>
{$autocompletejs}
</body>
</html>