		<form action="search.php" method="post" class="threadSearch">
			<input type="hidden" name="action" value="thread" />
			<input type="hidden" name="tid" value="{$thread['tid']}" />
			<input type="text" name="keywords" value="{$lang->enter_keywords}" onfocus="if(this.value == '{$lang->enter_keywords}') { this.value = ''; }" onblur="if(this.value=='') { this.value='{$lang->enter_keywords}'; }" class="textbox" size="25" />
			<input type="submit" class="button button-small" value="{$lang->search_thread}" />
		</form>