{$inlinemod}
<form action="moderation.php" method="post" id="moderator_options">
	<input type="hidden" name="modtype" value="thread" />
	<input type="hidden" name="tid" value="{$tid}" />
	<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
	<label for="moderationThreadAction{$tid}">{$lang->moderation_options}</label>
	<select name="action" id="moderationThreadAction{$tid}" onchange="$('moderator_options').submit();">
		<option value="delayedmoderation">{$lang->delayed_moderation}</option>
		<optgroup label="{$lang->standard_mod_tools}">
			<option value="threadnotes" selected="selected">{$lang->thread_notes}</option>
			<option value="openclosethread">{$lang->open_close_thread}</option>
			<option value="deletethread">{$lang->delete_thread}</option>
			{$adminpolloptions}
			<option value="deleteposts">{$lang->delete_posts}</option>
			<option value="move">{$lang->move_thread}</option>
			<option value="stick">{$lang->stick_unstick_thread}</option>
			<option value="split">{$lang->split_thread}</option>
			<option value="merge">{$lang->merge_threads}</option>
			<option value="mergeposts">{$lang->merge_posts}</option>
			<option value="removeredirects">{$lang->remove_redirects}</option>
			<option value="removesubscriptions">{$lang->remove_subscriptions}</option>
			{$approveunapprovethread}
		</optgroup>
		{$customthreadtools}
	</select>
	{$gobutton}
</form>