<script type="text/javascript" src="jscripts/inline_moderation.js?ver=1600"></script>
<form action="moderation.php" method="post" id="moderator_inline_options">
<input type="hidden" name="my_post_key" value="{$mybb->post_code}" />
<input type="hidden" name="tid" value="{$tid}" />
<input type="hidden" name="modtype" value="inlinepost" />
<input type="hidden" name="url" value="{$mybb->settings['xbmc_url']}" />
<label for="moderationInlineAction{$tid}">{$lang->inline_post_moderation}</label>
<select name="action" id="moderationInlineAction{$tid}">
<optgroup label="{$lang->standard_mod_tools}">
	<option value="multideleteposts">{$lang->inline_delete_posts}</option>
	<option value="multimergeposts">{$lang->inline_merge_posts}</option>
	<option value="multisplitposts">{$lang->inline_split_posts}</option>
	<option value="multiapproveposts">{$lang->inline_approve_posts}</option>
	<option value="multiunapproveposts">{$lang->inline_unapprove_posts}</option>
</optgroup>
{$customposttools}
</select>
<input type="submit" class="button" name="go" value="{$lang->go} ({$inlinecount})" id="inline_go" />&nbsp;
<input type="button" class="button" onclick="javascript:inlineModeration.clearChecked();" value="{$lang->clear}" />
</form>
<script type="text/javascript">
<!--
	var go_text = "{$lang->inline_go}";
	var all_text = "{$threadcount}";
	var inlineType = "thread";
	var inlineId = {$tid};
// -->
</script>