<br />
<table class="tborder">
<tr>
<td class="thead" align="center" colspan="6"><strong>{$lang->similar_threads}</strong></td>
</tr>
<tr>
<td class="tcat" align="center" colspan="2"><span class="smalltext"><strong>{$lang->thread}</strong></span></td>
<td class="tcat" align="center"><span class="smalltext"><strong>{$lang->author}</strong></span></td>
<td class="tcat" align="center"><span class="smalltext"><strong>{$lang->replies}</strong></span></td>
<td class="tcat" align="center"><span class="smalltext"><strong>{$lang->views}</strong></span></td>
<td class="tcat" align="center"><span class="smalltext"><strong>{$lang->lastpost}</strong></span></td>
</tr>
{$similarthreadbits}
</table>