<div id="rateThread" class="inline_rating">
		<script type="text/javascript" src="jscripts/rating.js?ver=1400"></script>
		<span id="success_rating_{$thread['tid']}" class="successIcon">&nbsp;</span>
		<strong>{$lang->thread_rating}</strong>
		<ul class="star_rating{$not_rated}" id="rating_thread_{$thread['tid']}">
			<li style="width: {$thread['width']}%" class="current_rating" id="current_rating_{$thread['tid']}"><em>{$ratingvotesav}</em></li>
			<li><a class="one_star" title="{$lang->one_star}" href="./ratethread.php?tid={$thread['tid']}&amp;rating=1&amp;my_post_key={$mybb->post_code}"><em>1</em></a></li>
			<li><a class="two_stars" title="{$lang->two_stars}" href="./ratethread.php?tid={$thread['tid']}&amp;rating=2&amp;my_post_key={$mybb->post_code}"><em>2</em></a></li>
			<li><a class="three_stars" title="{$lang->three_stars}" href="./ratethread.php?tid={$thread['tid']}&amp;rating=3&amp;my_post_key={$mybb->post_code}"><em>3</em></a></li>
			<li><a class="four_stars" title="{$lang->four_stars}" href="./ratethread.php?tid={$thread['tid']}&amp;rating=4&amp;my_post_key={$mybb->post_code}"><em>4</em></a></li>
			<li><a class="five_stars" title="{$lang->five_stars}" href="./ratethread.php?tid={$thread['tid']}&amp;rating=5&amp;my_post_key={$mybb->post_code}"><em>5</em></a></li>
		</ul>
</div>