<html>
<head>
<title>{$mybb->settings['bbname']} - {$lang->board_stats}</title>
{$headerinclude}
</head>
<body>
{$header}
<table class="tborder">
	<caption>{$lang->board_stats}</caption>
	<thead>
		<tr>
			<td><strong>{$lang->totals}</strong></td>
			<td><strong>{$lang->averages}</strong></td>
		</tr>
	</thead>
	<tbody>
		<tr class="trow1">
			<td>
			{$lang->posts} <strong>{$stats['numposts']}</strong><br />
			{$lang->threads} <strong>{$stats['numthreads']}</strong><br />
			{$lang->members} <strong>{$stats['numusers']}</strong>
			</td>
			<td rowspan="3">
			{$lang->ppd} <strong>{$postsperday}</strong><br />
			{$lang->tpd} <strong>{$threadsperday}</strong><br />
			{$lang->mpd} <strong>{$membersperday}</strong><br />
			{$lang->ppm} <strong>{$postspermember}</strong><br />
			{$lang->rpt} <strong>{$repliesperthread}</strong>
			</td>
		</tr>
		<tr>
			<td class="tcat"><strong>{$lang->general}</strong></td>
		</tr>
		<tr class="trow1">
			<td>
			{$lang->newest_member} {$stats['newest_user']}<br />
			{$lang->members_posted} <strong>{$havepostedpercent}</strong><br />
			{$lang->todays_top_poster}<br />
			{$lang->popular_forum}
			</td>
		</tr>
	</tbody>
</table>

<table class="tborder">
<tr>
<td class="thead" colspan="2"><strong>{$lang->most_popular}</strong></td>
</tr>
<tr>
<td class="tcat" width="50%"><strong>{$lang->most_replied_threads}</strong></td>
<td class="tcat" width="50%"><strong>{$lang->most_viewed_threads}</strong></td>
</tr>
<tr>
<td class="trow1" valign="top">{$mostreplies}</td>
<td class="trow1" valign="top">{$mostviews}</td>
</tr>
</table>
{$footer}
</body>
</html>